*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #080808;
    color: #fff;
}



#header{
    width: 100%;
    height: 100vh;
    background: url('../image/djeprofil.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40%;
}

#header .container{
    padding: 10px 10%;
}   

#header .container .logo{
    font-size: 50px;
    color: #fff;
    font-weight: 900;
}   

#header .container span{
    color: #ff8000;
    font-weight: 200;
}

#header .container nav{
   display: flex;
   justify-content: space-between;
   align-items: center ;
   flex-wrap: wrap;
}


#header .container nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


#header .container nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    
}

#header .container nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff8000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: 0.5s;
    
    
}
#header .container nav ul li a:hover::after{
    transform: scaleX(1);
    width: 100%;
}

#header .container .header-text{
    margin-top: 20%;
    font-size: 25px;
    text-align: right;
}

#header .container .header-text .bienvenue{
    font-size: 50px;
    margin-top: 28px;
    font-weight: 999;
    color: #fff;
}




#header .container .header-text .nom{
    font-size: 50px;
    font-weight: 999;
    color: #fff;
    margin-right: 70px;
    margin-top: 20px;
}

#header .container .header-text .snake {
    position: relative;
    padding: 10px 20px;
    display: inline-block;
    font-size:45px ;
}

.snake::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 3px solid #ff8000; 
    animation: snake-move 2s linear infinite;
}

@keyframes snake-move {
    0% {
        width: 0;
        height: 0;
        top: 0;
        left: 0;
    }
    25% {
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
    }
    50% {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    75% {
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
    }
    100% {
        width: 0;
        height: 0;
        top: 0;
        left: 0;
    }
}

#header .container .header-text .activite{
    font-size: 20px;
    margin-top: 15px;
    color: #ccc;
    margin-right: 70px;
    font-weight: 999;
}



/*  voici le css de mon a propos*/

#about{
   color: #bababa;
   padding: 80px 0;
    
}

#about .container .row{
    display: flex;
    flex-wrap: wrap;
 
    justify-content: space-between;
    
    
}

#about .container .row .about-col-1{
    flex-basis: 30%;
}

#about .container .row .about-col-1 img{
    width: 100%;
    border-radius: 15px;
    background: #181818;
    right: 70px;
    position: relative;
}


#about .container .row .about-col-2{
    flex-basis: 60%;
    
}


#about .container .row .about-col-2 .sub-title{
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 0px;
    transition: 0.5s;
}

#about .container .row .about-col-2 .sub-title:hover{
    color: #ff8000;
}

#about .container .row .about-col-2 .description{
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    padding: 0px 60px;
}


#about .container .row .tab-titles{
    margin: 20px 0 40px;
    display: flex;
    
}

#about .container .row .tab-titles .tab-links{
    margin-left: 70px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
}


#about .container .row .tab-titles .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff8000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
 
}

#about .container .row .tab-titles .tab-links.active-link::after{
    width: 50%;
}


#about .container .row .tab-titles .tab-links:hover::after{
    width: 100%;
}

.tab-contents ul li{
list-style: none;
margin: 10px 50px;
}


.tab-contents ul li span{
    font-weight: 900;
    color: #ff8000;
    font-size: 16px;
}


.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/*  voici le css de mes services*/

#services{
    padding: 80px 80px;
}





#services .container .sub-title {
  
   transition: transform 0.3s ease;
   font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    border-bottom: 0px;
    transition: 0.5s;
}


#services .container .sub-title:hover {
  animation: heartbeat 1.2s;
  color: #ff8000;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

#services .container .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 0px 20px;
}


#services .container .services-list div{
    background: #181818;
    padding: 40px ;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

#services .container .services-list div i{
    font-size: 50px;
    color: #ff8000;
    margin-bottom: 20px;
}



#services .container .services-list div:hover{
    background: #503314;
    color: #fff;
    transform: translateY(-40px);
}

#services .container .services-list div h2{
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 700;
}

#services .container .services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ff8000;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.5s;
}

#services .container .services-list div p{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}







/*  voici le css de mon porfolio*/
#portfolio{
    padding: 80px 0;
}

#portfolio .container .sub-title {
  
   transition: transform 0.3s ease;
   font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    border-bottom: 0px;
    transition: 0.5s;
}


#portfolio .container .sub-title:hover {
  animation: heartbeat 1.2s;
  color: #ff8000;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

#portfolio .container .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 0px 40px;
}


#portfolio .container .work-list .work{ 
    border-radius: 10px;
    overflow: hidden;
    position: relative;

}

#portfolio .container .work-list .work img{ 
    width: 100%;
    transition: 0.5s;
    display: block;
    transition: transform 0.6s;
    
}


#portfolio .container .work-list .work .layer{ 
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff8000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transform: transition 0.5s;

}
#portfolio .container .work-list .work:hover .layer{ 
    height: 100%;
    transition: 0.5s;
}



#portfolio .container .work-list .work:hover img{ 
    transform: scale(1.2);
}

#portfolio .container .work-list .work .layer h3{ 
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;

}

#portfolio .container .work-list .work .layer a{ 
    margin-top: 20px;
    color: #ff8000;
    font-size: 18px;
    text-decoration: none;
    line-height: 60px;
    background: #fff;
    width: 60px;
    border-radius: 50%;
    text-align: center;

}


/*  voici le css de mon contact*/

#contact{
    padding: 80px 80px;
}

#contact .container .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}


#contact .container .row .contact-left{
    flex-basis: 35%;
  
}

#contact .container .row .contact-left p{
   margin: 20px;
  
}

#contact .container .row .contact-left p i{
   color: #ff8000;
   margin-right: 15px;
   font-size: 25px;
  
}

#contact .container .row .contact-left .social-icons{
    margin-top: 20px;
}

#contact .container .row .contact-left .social-icons a{
    font-size: 25px;
    text-decoration: none;
    margin-right: 15px;
    color: #abab;
    display: inline-block;
    margin-bottom: 30px;
}
#contact .container .row .contact-left .social-icons a:hover{
    color: #ff8000;
    transform: translateY(-6px);
    transition: 0.5s;
    
}

.btn1{
    background: #ff8000;
    border-radius: 7px;
    border: 1px solid #ff8000;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    
}
.btn1:hover{
    background: transparent;
    color: #ff8000;
    border: 1px solid #ff8000;
    transform: translateY(6px);
    transition: 0.5s;
    
}

#contact .container .row .contact-right{
    flex-basis: 60%;
  
}

#contact .container .row .contact-right form{
    width: 100%;
  
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    background: #181818;
    margin: 15px 0;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-style: 300;
    background: #181818;
}




/*  ici je vais faire le css du format de telephone*/
@media only screen and (max-width: 600px){
    #header{
    width: 100%;
    height: 100vh;
    background: url('../image/djeprofil.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40%;
}

#header .container .header-text .bienvenue{
    font-size: 20px;
    margin-top: 28px;
    font-weight: 999;
    color: #fff;
}
}
    










